@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-select {
  appearance: none !important;
  background: none !important;
  padding-inline-end: 0 !important;
}

.bg-published {
  @apply bg-green-200;
}
.text-published {
  @apply text-green-900;
}

.bg-approved {
  @apply bg-sky-200;
}
.text-approved {
  @apply text-sky-900;
}

.bg-disapproved {
  @apply bg-red-200;
}
.text-disapproved {
  @apply text-red-900;
}

.bg-archived {
  @apply bg-stone-200;
}
.text-archived {
  @apply text-stone-900;
}

.bg-draft {
  @apply bg-indigo-200;
}
.text-draft {
  @apply text-indigo-900;
}

.bg-submitted {
  @apply bg-fuchsia-200;
}
.text-submitted {
  @apply text-fuchsia-900;
}
