@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-select {
  appearance: none !important;
  background: none !important;
  padding-inline-end: 0 !important;
}
